<!doctype html>
<html>
    <head>
        <title>Webshot.py</title>
        <link href = "{{url_for('static', filename='css/bootstrap.css')}}" rel = "stylesheet">
    </head>
    <body>
        <div class = "container"><br /><br />
            <div class = "row" id = "header">
                <div class = "span4">
                    <h1>Webshot.py</h1>
                </div>
                <div class = "span4 pull-right" style = "text-align: right">
                    <br />Take screenshots of websites... simply.
                </div>
            </div>
            <div id = "input">
                <table class = "table">
                    <tr>
                        <td>URL</td>
                        <td>Width</td>
                        <td>Height</td>
                    </tr>
                    <tr>
                        <td><input type = "text" class = "input-xlarge" id = "url" size = 40 /></td>
                        <td><input type = "text" class = "input-xlarge" id = "width" size = 10 /></td>
                        <td><input type = "text" class = "input-xlarge" id = "height" size = 10 /></td>
                    </tr>
                </table>
                <div style = "text-align: center">
                    <button id = "submit">Get Thumbnail!</button>
                </div>
            </div><br />
            <div id = "img" style = "text-align: center"></div>
        </div>
        <div class = "row" id = "footer">
            <div style = "text-align: center">
                Created by <a href = "http://adamweidner.com">Adam Weidner</a> of <a href = "http://whytedev.com">whytedev</a>
            </div>
        </div>
        <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type = "text/javascript" src = "{{url_for('static', filename='js/webshot.js')}}"></script>
    </body>
</html>
